#canvas{
    /*border: 40px solid #CCC;*/
    position: relative;
    /*width: 416px;*/
    /*height: 416px;*/
}

#canvas > canvas{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 416px;*/
    /*height: 416px;*/
}

#background{
    background: #000;
    z-index: 1;
}

#entities{
    z-index: 2;
    display: none;
}

#connected-grid{
    display: none;
    display: none;
    border: 1px solid #333;
    width: 400px;
}

[id^="team"]{
    min-height: 100px;
    border: 1px solid #0A246A;
}
