#canvas{
    display: none;
    /*border: 40px solid #CCC;*/
    position: relative;
    /*width: 416px;*/
    /*height: 416px;*/
}

#canvas > canvas{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 416px;*/
    /*height: 416px;*/
}

#background{
    background: #000;
    z-index: 1;
}

#entities{
    background: transparent;
    z-index: 2;
}
#foreground{
    background: transparent;
    z-index: 3;
}

#connected-grid{
    display: none;
    border: 1px solid #333;
    width: 400px;
}

[id^="team"]{
    min-height: 100px;
    border: 1px solid #0A246A;
}

#test{
    position: fixed;
    right: 10px;
    top: 10px;
}


[id^="team"] .player.ready{
    background: #deffc0;
}

[id^="team"] .player{
    display: inline-block;
}