<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <title>Tank2D</title>
	</head>
	<body class="intro">
		<div id="container">
            <div id="canvas">
                <canvas id="background"></canvas>
                <canvas id="entities"></canvas>
                <canvas id="foreground"></canvas>
            </div>
            <div id="test">
                <div id="connected-grid">
                    <div id="population">Количество игроков: <span></span></div>
                </div>
                <button id="ready-button">Начать</button>

                <div id="chat-wrap">
                    <div id="chat">
                        <div id="chat-history">

                        </div>
                        <div id="chat-input">
                            <textarea class="input" name="chat_input"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        <script>
                var require = { waitSeconds: 60 };
        </script>
        <script data-main="js/home" src="js/lib/require-jquery.js"></script>
	</body>
</html>
